<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">

    {%- if page.group == 'news' -%}
      <link rel="alternate" type="application/atom+xml" title="Kern Lab News Feed" href="/news.xml">
    {%- endif -%}
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ site.name }}</a>
        <div class="navbar-brand">@</div>
        <a class="navbar-brand" href="https://www.brandeis.edu"><img src="/static/img/brandeis_logo_white.svg" height="30" class="d-inline-block align-middle" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {%- for link in site.data.navlinks -%}
            {%- if page.group == link.group %}
            <li class="nav-item active"><a class="nav-link" href="{{ link.link }}">{{ link.name }}</a></li>
            {%- else %}
            <li class=nav-item><a class="nav-link" href="{{ link.link }}">{{ link.name }}</a></li>
            {%- endif -%}
            {%- endfor %}
          </ul>
        </div>
      </div>
    </nav>

  <div class="container-fluid">
