<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">

    {%- if page.group == 'news' -%}
      <link rel="alternate" type="application/atom+xml" title="Kern Lab News Feed" href="/news.xml">
    {%- endif -%}
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {%- for link in site.data.navlinks -%}
              {%- if page.group == link.group %}
                <li class="active"><a href="{{ link.link }}">{{ link.name }}</a></li>
              {%- else %}
                <li><a href="{{ link.link }}">{{ link.name }}</a></li>
              {%- endif -%}
            {%- endfor %}
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
