<h3>Recent Posts</h3>
<ul>
  {%- for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {%- endfor %}
</ul>
<br>

<h3>Interested in joining the Kern lab?</h3>
 We don’t generally post for specific positions, so please reach out to
 <a href="/member/#Dorothee+Kern">Dorothee</a> directly. We welcome
 applicants from all backgrounds!<br><br><br>

<div class="d-flex justify-content-around align-items-center">
  <a href="https://hhmi.org"><img class="img-fluid" src="/static/img/hhmi.jpg" alt="HHMI logo" style="max-height:125px;max-width:125px"></a><br><br>
  <a href="https://scripps"><img class="img-fluid" src="/static/img/scripps.png" alt="Scripps Research logo" style="max-height:100px;max-width:125px"></a>
</div>
